<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div>
            <a href="/">
                <img src="/img/logo.png" alt="Logo">
            </a>
            <nav>
                <ul>
                    <li><a href="">Srmatphones</a></li>
                    <li><a href=""> Tablets</a></li>
                    <li><a href="">Computadoras</a></li>
                </ul>
                <ul>
                    <li><a href="">Login</a></li>
                    <li><a href="">Register</a></li>
                </ul>
            </nav>

        </div>
    </header>
    <main>

        <section>

            <article>
                <img src="/public/img/img-phone-01.jpg" alt="">
                <hh2Nombre del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam natus vel, fuga pariatur sit similique voluptas hic reiciendis laboriosam, sapiente sint consequuntur maxime eveniet doloribus dicta quidem iste libero ullam.
                Enim aliquid cumque aspernatur aliquam delectus optio consequuntur vel consectetur itaque ipsum commodi iste vero eaque iusto dolore velit, illum culpa beatae voluptatem magni officia? Voluptatum sint optio odio nostrum.
                </p>
                <button>Ver mas</button>
            </article>
            <article>
                <img src="/public/img/img-phone-02.jpg" alt="">
                <h2>Nombre del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam natus vel, fuga pariatur sit similique voluptas hic reiciendis laboriosam, sapiente sint consequuntur maxime eveniet doloribus dicta quidem iste libero ullam.
                Enim aliquid cumque aspernatur aliquam delectus optio consequuntur vel consectetur itaque ipsum commodi iste vero eaque iusto dolore velit, illum culpa beatae voluptatem magni officia? Voluptatum sint optio odio nostrum.
                </p>
                <button>Ver mas</button>
            </article>
            <article>
                <img src="/public/img/img-phone-03.jpg" alt="">
                <h2>Nombre del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam natus vel, fuga pariatur sit similique voluptas hic reiciendis laboriosam, sapiente sint consequuntur maxime eveniet doloribus dicta quidem iste libero ullam.
                Enim aliquid cumque aspernatur aliquam delectus optio consequuntur vel consectetur itaque ipsum commodi iste vero eaque iusto dolore velit, illum culpa beatae voluptatem magni officia? Voluptatum sint optio odio nostrum.
                </p>
                <button>Ver mas</button>
            </article>
            <article>
                <img src="/public/img/img-phone-01.jpg" alt="">
                <h2>Nombre del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam natus vel, fuga pariatur sit similique voluptas hic reiciendis laboriosam, sapiente sint consequuntur maxime eveniet doloribus dicta quidem iste libero ullam.
                Enim aliquid cumque aspernatur aliquam delectus optio consequuntur vel consectetur itaque ipsum commodi iste vero eaque iusto dolore velit, illum culpa beatae voluptatem magni officia? Voluptatum sint optio odio nostrum.
                </p>
                <button>Ver mas</button>
            </article>

            <aside>
               
                <section> 
                    <h3>Tutoriales</h3>
                    <article>
                        <img src="/img/aside-01.jpg" alt="">
                        <p>Titulo tutorial de reparacion</p>
                    </article>
                    <article>
                        <img src="/img/aside-02.jpg" alt="">
                        <p>Titulo tutorial de reparacion</p>
                    </article>
                    <article>
                        <img src="/img/aside-03.jpg" alt="">
                        <p>Titulo tutorial de reparacion</p>
                    </article>
                    <article>
                        <img src="/img/aside-04.jpg" alt="">
                        <p>Titulo tutorial de reparacion</p>
                    </article>
                                
                </section>

                <section>
                    <h3>Publicidad</h3>
                    <img src="/img/ad-01.jpg" alt="">
                    <img src="/img/ad-02.jpg" alt="">
                </section>
            </aside>

        </section>
    </main>
</body>

</html>